*.fasta
*.fastq
*.fastq.gz
*.fa*
*.faa
*.bam
*.sam
./.git/objects/pack/tmp_pack_mQFrui
./.git/objects/pack/tmp_pack_GS8ANp
./.git/objects/pack/tmp_pack_uzVbgf
./.git/objects/pack/tmp_pack_QHwttg
./.git/objects/pack/pack-b3b7415e4f0786ee83cfe4d901ef7a55a30c7f19.pack
./.git/objects/cd/d45daf7d9960d48bf7a760b805d0c78a8f3b4f
./.git/objects/1b/9687543a7a5995dbea63b035ba501f295a86c2
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa.bwt
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa.bwt
./code/slurm-6135125.out
./.git/objects/pack/tmp_pack_mQFrui
./.git/objects/pack/tmp_pack_GS8ANp
./.git/objects/pack/tmp_pack_uzVbgf
./.git/objects/pack/tmp_pack_QHwttg
./.git/objects/pack/tmp_pack_38cRx0
./.git/objects/pack/pack-b3b7415e4f0786ee83cfe4d901ef7a55a30c7f19.pack
./.git/objects/pack/tmp_pack_o2E06q
./.git/objects/cd/d45daf7d9960d48bf7a760b805d0c78a8f3b4f
./.git/objects/1b/9687543a7a5995dbea63b035ba501f295a86c2
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa.bwt
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa.bwt
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k75.contigs.fa
./.git/objects/pack/tmp_pack_mQFrui
./.git/objects/pack/tmp_pack_GS8ANp
./.git/objects/pack/tmp_pack_uzVbgf
./.git/objects/pack/tmp_pack_QHwttg
./.git/objects/pack/tmp_pack_38cRx0
./.git/objects/pack/pack-b3b7415e4f0786ee83cfe4d901ef7a55a30c7f19.pack
./.git/objects/pack/tmp_pack_o2E06q
./.git/objects/cd/d45daf7d9960d48bf7a760b805d0c78a8f3b4f
./.git/objects/1b/9687543a7a5995dbea63b035ba501f295a86c2
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa.bwt
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa.bwt
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k75.contigs.fa
./.git/objects/pack/tmp_pack_mQFrui
./.git/objects/pack/tmp_pack_GS8ANp
./.git/objects/pack/tmp_pack_uzVbgf
./.git/objects/pack/tmp_pack_QHwttg
./.git/objects/pack/tmp_pack_38cRx0
./.git/objects/pack/pack-b3b7415e4f0786ee83cfe4d901ef7a55a30c7f19.pack
./.git/objects/pack/tmp_pack_o2E06q
./.git/objects/cd/d45daf7d9960d48bf7a760b805d0c78a8f3b4f
./.git/objects/1b/9687543a7a5995dbea63b035ba501f295a86c2
./data/BWA_DNA/D1-SRR4342129_bwa/bwa_DNA_D1-SRR4342129.bam
./data/BWA_DNA/D3-SRR4342133_bwa/bwa_DNA_D3-SRR4342133.bam
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa.bwt
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa.bwt
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k75.contigs.fa
./.git/objects/pack/tmp_pack_mQFrui
./.git/objects/pack/tmp_pack_GS8ANp
./.git/objects/pack/tmp_pack_uzVbgf
./.git/objects/pack/tmp_pack_QHwttg
./.git/objects/pack/tmp_pack_38cRx0
./.git/objects/pack/pack-b3b7415e4f0786ee83cfe4d901ef7a55a30c7f19.pack
./.git/objects/pack/tmp_pack_o2E06q
./.git/objects/cd/d45daf7d9960d48bf7a760b805d0c78a8f3b4f
./.git/objects/1b/9687543a7a5995dbea63b035ba501f295a86c2
./data/BWA_DNA/D1-SRR4342129_bwa/bwa_DNA_D1-SRR4342129.bam
./data/BWA_DNA/D3-SRR4342133_bwa/bwa_DNA_D3-SRR4342133.bam
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa.bwt
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa.bwt
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k75.contigs.fa
./.git/objects/pack/tmp_pack_mQFrui
./.git/objects/pack/tmp_pack_GS8ANp
./.git/objects/pack/tmp_pack_uzVbgf
./.git/objects/pack/tmp_pack_QHwttg
./.git/objects/pack/tmp_pack_38cRx0
./.git/objects/pack/pack-b3b7415e4f0786ee83cfe4d901ef7a55a30c7f19.pack
./.git/objects/pack/tmp_pack_o2E06q
./.git/objects/cd/d45daf7d9960d48bf7a760b805d0c78a8f3b4f
./.git/objects/1b/9687543a7a5995dbea63b035ba501f295a86c2
./data/BWA_DNA/D1-SRR4342129_bwa/bwa_DNA_D1-SRR4342129.bam
./data/BWA_DNA/D3-SRR4342133_bwa/bwa_DNA_D3-SRR4342133.bam
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa.bwt
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa.bwt
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k75.contigs.fa
./data/Checkm_depth/hmms/checkm.hmm
./.git/objects/pack/tmp_pack_mQFrui
./.git/objects/pack/tmp_pack_GS8ANp
./.git/objects/pack/tmp_pack_uzVbgf
./.git/objects/pack/tmp_pack_QHwttg
./.git/objects/pack/tmp_pack_38cRx0
./.git/objects/pack/pack-b3b7415e4f0786ee83cfe4d901ef7a55a30c7f19.pack
./.git/objects/pack/tmp_pack_o2E06q
./.git/objects/pack/tmp_pack_5ESJvv
./.git/objects/cd/d45daf7d9960d48bf7a760b805d0c78a8f3b4f
./.git/objects/1b/9687543a7a5995dbea63b035ba501f295a86c2
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/final.contigs.fa.bwt
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D1-SRR4342129_contigs/intermediate_contigs/k75.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/final.contigs.fa.bwt
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.local.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k95.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k85.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k105.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k65.contigs.fa
./data/Megahit/D3-SRR4342133_contigs/intermediate_contigs/k75.contigs.fa
./data/Checkm_depth/hmms/checkm.hmm
